@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fascinate&display=swap');

html {
    background-color: #FFFD63;
    width: 100%;
    height: 100%;
    margin: 0 auto;
    overflow-x: hidden;
}

header {
    padding: 20px;
    overflow: hidden;
}

a.menu-item, a.menu-item-btn {
    font-family: 'Inter';
    font-weight: 500;
    color: #0A0B1E;
    text-decoration: none;
    margin-right: 40px;
}

div.logo   {
    float: left;
    width: auto;
    margin-right: 50px;
}

div.logo > img {
    height: 25px;
}

div.menu {
    float: left;
    width: auto;
    margin-top: 6px;
}

div.lr-btn {
    float: right;
    margin-top: 6px;
}

a.menu-item-btn {
    margin-right: 0px;
    margin-left: 40px;
}

a.menu-item-btn:last-child {
    margin-right: 0px;
    margin-left: 30px;
    background: #0A0B1E;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

div.hero {
    max-width: 900px;
    margin: 100px auto;
    height: auto;
}

div.hero > h1 {
    font-family: 'Fascinate';
    font-size: 60px;
    text-align: center;
}

div.hero > p {
    text-align: center;
    font-family: Inter;
    font-weight: 300;
    font-size: 20px;
    width: 735px;
    margin: 40px auto;
    line-height: 1.5;
}

a.hero-btn {
    font-family: 'Inter';
    font-size: 16px;
    text-decoration: none;
    background: #0A0B1E;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 32px;
}

a.hero-btn:last-child {
    font-family: 'Inter';
    font-size: 16px;
    text-decoration: none;
    background: white;
    color: #0A0B1E;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid #0A0B1E;
}

section.cta {
    text-align: center;
    margin-top: 32px;
}

div.hero-img > img {
    margin-top: -64px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

div.companies > h3 {
    font-family: 'Fascinate';
    font-size: 24px;
    text-align: center;
    margin-bottom: 48px;
    margin-top: 100px;
}

div.companies > img {
    margin: 0 auto;
    display: block;
    width: 900px;
    margin-bottom: 160px;
}

div.perks-1 {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 100px auto;
    position: relative;
}

div.perks-1 > section.text {
    width: 50%;
    float: left;
    padding: 0 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

div.perks-1 > section.text > h2 {
    font-family: 'Fascinate';
    font-size: 56px;
    margin-bottom: 16px;
    line-height: 1.3;
}

div.perks-1 > section.text > p {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}

div.perks-1 > section.img {
    float: right;
    width: 50%;
}

div.perks-1 > section.img > img {
    width: 65%;
    margin: 0 auto;
    display: block;
}

div.perks-2 {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 30px auto;
    position: relative;
}

div.perks-2 > section.text {
    width: 50%;
    float: right;
    padding: 0 50px;
    position: sticky;
    top: 50%;
    transform: translateY(-50%);
}

div.perks-2 > section.text > h2 {
    font-family: 'Fascinate';
    font-size: 56px;
    margin-bottom: 16px;
    line-height: 1.3;
}

div.perks-2 > section.text > p {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}

div.perks-2 > section.img {
    float: left;
    width: 50%;
}

div.perks-2 > section.img > img {
    width: 85%;
    margin: 0 auto;
    display: block;
}


div.perks-3 {
    display: block;
    overflow: hidden;
    width: 100%;
    margin: 0px auto;
    position: relative;
    margin-bottom: 100px;
}

div.perks-3 > section.text {
    width: 50%;
    float: left;
    padding: 0 50px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

div.perks-3 > section.text > h2 {
    font-family: 'Fascinate';
    font-size: 56px;
    margin-bottom: 16px;
    line-height: 1.3;
}

div.perks-3 > section.text > p {
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 300;
    line-height: 1.5;
}

div.perks-3 > section.img {
    float: right;
    width: 50%;
}

div.perks-3 > section.img > img {
    width: 65%;
    margin: 0 auto;
    display: block;
}

div.reviews > img {
    margin: 0 auto;
    width: 60%;
    display: block;
    margin-bottom: 50px;
}

section.faq {
    text-align: center;
    background: WHITE;
    border: 1px solid #0A0B1E;
    width: 50%;
    display: block;
    margin: 0 auto;
    border-radius: 5px;
    padding: 20px 30px;
    overflow: hidden;
    margin-bottom: 15px;
} 

section.faq a:first-child {
    margin-right: 150px;
}

section.faq a {
    color: #0A0B1E;
    text-decoration: none;
} 

section.faq > a.text {
    float: left;
    font-family: 'Inter';
    font-size: 18px;
}

section.faq > a.plus {
    float: right;
}

div.reviews {
    margin-bottom: 150px;
}

h2.faq {
    font-family: 'Fascinate';
    font-size: 40px;
    margin-bottom: 50px;
    text-align: center;
}

div.faq {
    margin-bottom: 150px;
}

footer {
    padding: 40px 40px 50px 40px;
    background: #0A0B1E;
    display: flex;
}

footer div {
    width: 25%;
}

footer p {
    color: white;
    font-family: 'Inter';
    margin-bottom: 15px
}

footer a {
    font-family: 'Inter';
    color: rgba(255, 255, 255, 0.646);
    font-size: 13px;
    text-decoration: none;
    display: block;
    margin-bottom: 15px;
}

footer img {
    margin-bottom: 30px;
}